<div class="mar" [@list1]>
  <div class="card text-center" style="width: 30rem;">
    <div class="card-body">
      <h4 class="card-title">Login/Register</h4>
      <label>If you have already an account, Please login yourself!</label>
      <div class="row">
        <button class="btn btn-primary" (click)="onLogin()">Login</button>
      </div>
      <label>For creating an account. Please register yourself!</label>
      <div class="row">
        <button class="btn btn-primary" (click)="onRegister()">Register</button>
      </div>
    </div>
  </div>
</div>
